
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add product</title>
    <link rel="stylesheet" href="/css/main.css">
    
</head>
<body>

    <header class="main-header">
        <nav class="main-header_nav">
            <ul class="main-header_item-list">
                <li class="main-header_item"><a href="/" class="active">Shop</a></li>
                <li class="main-header_item"><a href="/admin/add-product">Add Product</a></li>
                <li class="main-header_item"><a href="/contactus">contact us</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <form action="/contactus" method="POST">

            Name : <br><input type="text" name="name"><br><br>
            Email : <br><input type="email" name="email"><br><br>
            Phone : <br><input type="tel" name="phone"><br><br>
            Time for call: <br><input type="date" name="date"><input type="time"><br><br>
            <button type="submit">Submit</button>
    
    
        </form>
    </main>
    
</body>
</html>